# Add any directories, files, or patterns you don't want to be tracked by version control
/.idea
/classes
/target/
/bin
/build
/fft
out/
target/
.settings
.classpath
.project
.idea
*.iml
*.class
.gradle/
/API/ParkingAppAPI/.vs
/API/ParkingAppAPI/ParkingAppAPI
/API/ParkingAppAPI/.vs/ParkingAppAPI/v15
/API/ParkingAppAPI/Server/obj
/API/ParkingAppAPI/Server/bin/Debug/netcoreapp2.1
/API/ParkingAppAPI/TestServer/bin/Debug/netcoreapp2.1
/API/ParkingAppAPI/TestServer/obj
