<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../../static/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{css/bootstrap.min.css}" type="text/css"/>
<link href="../../static/css/core.css" rel="stylesheet" media="screen"
	th:href="@{css/core.css}" type="text/css"/>
<title>Software Design Demo</title>
</head>
<body>
	<div th:replace="common/header::navbar"></div>
	<div class="container">
		<h1>Here is a List of posts:</h1>
		<table>
			<thead>
			<tr>
				<th> Id </th>
				<th> Title </th>
			</tr>
			</thead>
			<tbody>
			<tr th:if="${posts.empty}">
				<td colspan="2"> No Posts Available. Please insert a post manually in the DB! </td>
			</tr>
			<tr th:each="postDTO : ${posts}">
				<td><span th:text="${postDTO.id}"> Title </span></td>
				<td><span th:text="${postDTO.title}"> Author </span></td>
				<td><a th:href="@{'/details/' + ${postDTO.id}}">See Details</a></td>
			</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{common/footer::footer}"></footer>
</body>
</html>