<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Software Design Demo</title>
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{css/bootstrap.min.css}" />
<link href="../static/css/core.css" rel="stylesheet" media="screen"
	th:href="@{css/core.css}" />
</head>
<body>
<div th:replace="common/header::navbar"></div>
	<h2>Login Page</h2>
	<p>Yes, you have been redirected here because you are not logged
		in.</p>
	<p>After you log in, you can proceed to any page of the
		application.</p>
	<form th:action="@{/login}" method="post">
		<label for="username">Username</label>: <input type="text"
			id="username" name="username" autofocus="autofocus" /> <label
			for="password">Password</label>: <input type="password" id="password"
			name="password" /><input type="submit" value="Log in" />
	</form>
	<p>
		Hint: The username and the password are hard-coded in the server. Open
		<i>WebSecurityConfig</i> class to see them.
	</p>
	<footer th:insert="~{common/footer :: footer}"></footer>
</body>
</html>